<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requests and Feedback</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
   <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
<a href="#">
    <span class="sr-only">Workflow</span>
    <img class="h-8 w-auto sm:h-10" src="{% static 'landing/images/my_logo.png' %}" alt="Error 404">
  </a>
  
<div class="relative bg-white">
        <div class="absolute inset-0">
          <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50"></div>
        </div>
        <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-5">
          <div class="bg-gray-50 py-16 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
            <div class="max-w-lg mx-auto">
              <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
                Provide Requests and Feedback
              </h2>
            
          <div class="bg-white py-16 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
            <div class="max-w-lg mx-auto lg:max-w-none">
              <form action="#" method="POST" class="grid grid-cols-1 gap-y-6">
                  {% csrf_token %}
                <div>
                  <label for="name" class="sr-only">Name</label>
                  <input type="text" name="name" id="name" autocomplete="name" class="block w-full shadow-sm py-3 px-4s placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 rounded-md border-2 border-gray-400" placeholder="Full name">
                </div>
        
                <div>
                  <label for="message" class="sr-only">Message</label>
                  <textarea id="message" name="message" rows="10" class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 rounded-md border-2 border-gray-400" placeholder="Feedback"></textarea>
                </div>
                <div>
                  <button type="submit" class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>